.user-list {
    margin-top: 16px;
  }
  
  .user-item {
    cursor: pointer;
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
  }
  
  .user-item.selected {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }


.close-button {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the right position as needed */
}
